.glow-box {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 120px 60px rgba(255, 255, 255, 0.5), /* Larger white glow */ 0 0 200px 120px rgba(173, 216, 230, 0.7),
    /* Larger light sky blue glow */ 0 0 280px 180px rgba(255, 182, 193, 0.7); /* Larger light pink glow */
}
