@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IranSans';
    src: url(../public/fonts/iranSans.woff) format(woff);
  }

  .font-primary {
    font-family: 'IranSans';
  }

  svg {
    aspect-ratio: 1/1;
  }
  .btn-panel {
    @apply border-2 border-primary-1 px-[18px] py-2 rounded-3xl text-primary-1 font-semibold text-[15px] cursor-pointer transition-all;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .btn-panel:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .btn-panel:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .loader {
    position: absolute;
    background-color: transparent;
    @apply border-2 border-transparent border-b-primary-1;
    border-radius: 50%;
    animation: loader 1s infinite;
  }

  .loader--1 {
    width: 40px;
    height: 40px;
    animation: loader-rotate 1s ease infinite;
  }
  .loader--2 {
    width: 50px;
    height: 50px;
    @apply border-dashed;
    animation: loader-rotate 1s ease-in-out infinite;
  }
  .loader--3 {
    width: 60px;
    height: 60px;
    animation: loader-rotate 1s linear infinite reverse;
  }

  @keyframes loader-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(1turn);
    }
  }
  .menu-close {
    right: -450px;
  }
  .menu-open {
    right: 0;
  }
}
