@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IranSans';
    src: url(../public/fonts/iranSans.woff) format(woff);
  }

  .font-primary {
    font-family: 'IranSans';
  }

  body {
    min-height: 100vh;
    position: relative;
  }

  svg {
    aspect-ratio: 1/1;
  }
  section {
    margin: 5rem 0;
  }
  .p-section {
    margin: 0;
    padding: 1rem;
  }

  h1 {
    line-height: 60px !important;
  }
}

@layer components {
  .btn-panel {
    @apply border-2 border-primary-1 px-[18px] py-2 rounded-3xl text-primary-1 font-semibold text-[15px] cursor-pointer transition-all;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .btn-panel:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .btn-panel:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .loader {
    position: absolute;
    background-color: transparent;
    @apply border-2 border-transparent border-b-primary-1;
    border-radius: 50%;
    animation: loader 1s infinite;
  }

  .loader--1 {
    width: 40px;
    height: 40px;
    animation: loader-rotate 1s ease infinite;
  }
  .loader--2 {
    width: 50px;
    height: 50px;
    @apply border-dashed;
    animation: loader-rotate 1s ease-in-out infinite;
  }
  .loader--3 {
    width: 60px;
    height: 60px;
    animation: loader-rotate 1s linear infinite reverse;
  }

  .menu-close {
    right: -450px;
  }
  .menu-open {
    right: 0;
  }
  .mobile-search-open {
    top: 0;
  }
  .mobile-search-close {
    top: -100%;
  }

  .heading-secondary {
    font-weight: 900;
    font-size: 2rem;
    line-height: 60px;
  }

  .student {
    @apply bg-white p-4 rounded-lg overflow-hidden;
    height: 352px !important;
  }
  .student-contact {
    @apply bg-gradient-to-b from-secondary-2 to-secondary-1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem 0;
  }

  .top-student-img {
    width: 100px;
    height: 100px;
    outline: 5px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-bg {
    flex-basis: 50%;
    background-image: url(../public/images/login-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    padding: 2rem 0;
  }
  .login-bg__des {
    background-color: #f6d3da;
    color: #6d1224;
    font-size: 1rem;
    font-weight: 500;
    width: 90%;
    border-radius: 5px;
    padding: 1rem;
  }

  .login-bg__btn {
    display: inline-block;
    width: 100%;
    color: #3765c9;
    background-color: rgba(242, 242, 242, 0.95);
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.25s;
    align-self: stretch;
  }
  .login-bg__btn:hover {
    background-color: #315bb5;
    color: #fff;
  }
  .login-bg__btn:active {
    background-color: #639;
    color: #fff;
  }

  .form-group {
    padding: 5px;
    width: 90%;
  }
  .form-group > input,
  .submit-btn {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #665c70;
    outline: none;
    border-radius: 2rem;
    transition: all 0.2s;
  }

  .form-group > input::placeholder {
    font-size: 0.9rem;
    color: #bbb;
  }
  .form-group > input:focus {
    border-color: #a679d2;
    box-shadow: 0 0 0 0.2rem rgba(102, 51, 153, 0.25);
  }

  .submit-btn {
    background-color: #639 !important;
    color: #fff !important;
    padding: 0.5rem 0 !important;
    cursor: pointer;
  }

  .submit-btn:disabled {
    opacity: 0.65;
    background-color: #53297c;
    cursor: not-allowed;
  }

  .submit-btn:hover {
    background-color: #53297c !important;
  }
  .submit-btn-loader {
    width: 25px;
    height: 25px;
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    border-radius: 50%;
    animation: loader-rotate 1s linear infinite;
    margin: 0 auto;
  }
  .squares {
    position: absolute;
    inset: 0;
    z-index: 10;
    overflow: hidden;
  }

  .squares div {
    position: absolute;
    animation: squares 25s linear infinite;
    transform: translateY(0) rotate(0);
    aspect-ratio: 1/1;
    box-shadow: 0 5px 20px rgba(3, 106, 245, 0.35);
    bottom: -150px;
  }

  .squares div:nth-child(1) {
    width: 80px;
    border: 3px solid #036af5;
    bottom: 5%;
    left: 25%;
    background-color: #fff;
  }
  .squares div:nth-child(2) {
    width: 20px;
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
    background-image: linear-gradient(144deg, #fe8c00, #f83600);
  }

  .squares div:nth-child(3) {
    width: 20px;
    left: 70%;
    border: 3px solid #fe8c00;
    animation-delay: 4s;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(254, 140, 0, 0.35);
  }
  .squares div:nth-child(4) {
    width: 60px;
    bottom: 2%;
    left: 40%;
    border: 3px solid #036af5;
    animation-duration: 18s;
    background-color: #fff;
  }
  .squares div:nth-child(5) {
    width: 20px;
    left: 65%;
    border: 3px solid #fe8c00;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(254, 140, 0, 0.35);
  }
  .squares div:nth-child(6) {
    width: 110px;
    left: 75%;
    background-image: linear-gradient(144deg, #007aff, #036af5);
    animation-delay: 3s;
  }
  .squares div:nth-child(7) {
    width: 125px;
    left: 35%;
    animation-delay: 7s;
    border: 3px solid #fe8c00;
    background-color: #fff;
  }
  .squares div:nth-child(8) {
    width: 25px;
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
    border: 3px solid #007aff;
    background-color: #fff;
  }
  .squares div:nth-child(9) {
    width: 15px;
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s;
    border: 3px solid #fe8c00;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(254, 140, 0, 0.35);
  }
  .squares div:nth-child(10) {
    width: 150px;
    left: 85%;
    animation-delay: 2s;
    animation-duration: 11s;
    background-color: hsl(0, 0%, 100%, 0.5);
    box-shadow: none;
  }

  @keyframes loader-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(1turn);
    }
  }
  @keyframes squares {
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0.1;
      border-radius: 50%;
    }
  }

  /* PANEL  */

  .panel-header {
    position: sticky;
    z-index: 55;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
    @apply bg-white dark:bg-dark-1;
  }

  .side-bar {
    flex-shrink: 0;
    @apply w-[90px] sm:w-[120px] fixed xs:sticky bg-white dark:bg-dark-1 dark:text-white divide-y-2;
    top: 80px;
    z-index: 20;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .side-bar .active {
    @apply text-primary-2 dark:bg-transparent bg-[#dde7f5];
    border-left: 2px solid #036af5;
  }
  .card .active {
    @apply border border-secondary-1 rounded-t-lg bg-[#ffeccb] dark:border-none dark:bg-dark-1;
  }

  .diamond-bg {
    @apply h-full overflow-hidden rounded-xl;
    background-image: url('/public/images/almas-card-background.png');
    background-size: contain;
  }
  .diamond-bg__content {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 122, 255, 0.5) 2%, rgba(3, 106, 245, 0.7));
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .full-width {
    width: 100% !important;
  }
}
