:root {
  --comment-height: 150px;
}

.rating {
  @apply w-52 mx-auto mb-96 relative overflow-hidden flex items-end;
  height: var(--comment-height);
}

.rating-slider {
  @apply absolute left-1/2 -translate-x-1/2 top-0 duration-300 flex flex-col;
}
.rating-slider svg {
  @apply flex items-center justify-center;
  height: var(--comment-height);
}

.rating input[type='radio'] {
  display: none;
  visibility: hidden;
}

.rating label {
  position: relative;
  z-index: 40;
  display: flex;
  width: 40px;
  height: 40px;

  transition: all 0.2s;
}

.rating label svg {
  @apply w-full z-30 cursor-pointer;
}

.rating input[type='radio']:checked ~ label {
  color: #fcd93a;
}
.rating label:hover,
.rating label:hover ~ label {
  color: #d8b11e !important;
}

.rating-5:checked ~ .rating-slider {
  transform: translate(-50%, calc(-5 * var(--comment-height)));
}
.rating-4:checked ~ .rating-slider {
  transform: translate(-50%, calc(-4 * var(--comment-height)));
}
.rating-3:checked ~ .rating-slider {
  transform: translate(-50%, calc(-3 * var(--comment-height)));
}
.rating-2:checked ~ .rating-slider {
  transform: translate(-50%, calc(-2 * var(--comment-height)));
}
.rating-1:checked ~ .rating-slider {
  transform: translate(-50%, calc(-1 * var(--comment-height)));
}
